.select-form .fake-label {
  min-height: 60px;
  padding: 10px 20px 10px 0; }

@media (min-width: 480px) {
  .pager {
    padding: 30px 0 220px; } }

@media (min-width: 480px) {
  .pager.pager4 {
    padding: 30px 0 200px; } }

@media (min-width: 480px) {
  .pager.pager4 h1 {
    font-size: 20px;
    line-height: 24px; } }
