/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
	 ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
	 ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
	 ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
	 ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
	 ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*! jQuery UI - v1.11.4 - 2015-11-30
* http://jqueryui.com
* Includes: core.css, autocomplete.css, datepicker.css, menu.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial%2CHelvetica%2Csans-serif&fsDefault=1em&fwDefault=normal&cornerRadius=3px&bgColorHeader=e9e9e9&bgTextureHeader=flat&borderColorHeader=dddddd&fcHeader=333333&iconColorHeader=444444&bgColorContent=ffffff&bgTextureContent=flat&borderColorContent=dddddd&fcContent=333333&iconColorContent=444444&bgColorDefault=f6f6f6&bgTextureDefault=flat&borderColorDefault=c5c5c5&fcDefault=454545&iconColorDefault=777777&bgColorHover=ededed&bgTextureHover=flat&borderColorHover=cccccc&fcHover=2b2b2b&iconColorHover=555555&bgColorActive=007fff&bgTextureActive=flat&borderColorActive=003eff&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=fffa90&bgTextureHighlight=flat&borderColorHighlight=dad55e&fcHighlight=777620&iconColorHighlight=777620&bgColorError=fddfdf&bgTextureError=flat&borderColorError=f1a899&fcError=5f3f3f&iconColorError=cc0000&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=666666&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=5px&offsetTopShadow=0px&offsetLeftShadow=0px&cornerRadiusShadow=8px
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden {
	display: none;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}

.ui-helper-clearfix:after {
	clear: both;
}

.ui-helper-clearfix {
	min-height: 0;
}

.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}

.ui-state-disabled {
	cursor: default !important;
}

.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}

.ui-datepicker .ui-datepicker-next {
	right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}

.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}

.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.ui-datepicker td {
	border: 0;
	padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

.ui-datepicker.ui-datepicker-multi {
	width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}

.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

.ui-datepicker-rtl {
	direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}

.ui-menu .ui-menu {
	position: absolute;
}

.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0;
	list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: -1px;
}

.ui-menu-icons {
	position: relative;
}

.ui-menu-icons .ui-menu-item {
	padding-left: 2em;
}

.ui-menu .ui-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: .2em;
	margin: auto 0;
}

.ui-menu .ui-menu-icon {
	left: auto;
	right: 0;
}

.ui-widget {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}

.ui-widget .ui-widget {
	font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}

.ui-widget-content {
	border: 1px solid #ddd;
	background: #fff;
	color: #333;
}

.ui-widget-content a {
	color: #333;
}

.ui-widget-header {
	border: 1px solid #ddd;
	background: #e9e9e9;
	color: #333;
	font-weight: bold;
}

.ui-widget-header a {
	color: #333;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #454545;
	text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #ccc;
	background: #ededed;
	font-weight: normal;
	color: #2b2b2b;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #2b2b2b;
	text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #003eff;
	background: #007fff;
	font-weight: normal;
	color: #fff;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #fff;
	text-decoration: none;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #dad55e;
	background: #fffa90;
	color: #777620;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #777620;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #f1a899;
	background: #fddfdf;
	color: #5f3f3f;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #5f3f3f;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #5f3f3f;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter: Alpha(Opacity=70);
	font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity=35);
	background-image: none;
}

.ui-state-disabled .ui-icon {
	filter: Alpha(Opacity=35);
}

.ui-icon {
	width: 16px;
	height: 16px;
}

/*.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_444444_256x240.png");
}

.ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_444444_256x240.png");
}

.ui-state-default .ui-icon {
	background-image: url("images/ui-icons_777777_256x240.png");
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("images/ui-icons_555555_256x240.png");
}

.ui-state-active .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}

.ui-state-highlight .ui-icon {
	background-image: url("images/ui-icons_777620_256x240.png");
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("images/ui-icons_cc0000_256x240.png");
}*/

.ui-icon-blank {
	background-position: 16px 16px;
}

.ui-icon-carat-1-n {
	background-position: 0 0;
}

.ui-icon-carat-1-ne {
	background-position: -16px 0;
}

.ui-icon-carat-1-e {
	background-position: -32px 0;
}

.ui-icon-carat-1-se {
	background-position: -48px 0;
}

.ui-icon-carat-1-s {
	background-position: -64px 0;
}

.ui-icon-carat-1-sw {
	background-position: -80px 0;
}

.ui-icon-carat-1-w {
	background-position: -96px 0;
}

.ui-icon-carat-1-nw {
	background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
	background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
	background-position: -144px 0;
}

.ui-icon-triangle-1-n {
	background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
	background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
	background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
	background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
	background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
	background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
	background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
	background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
	background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
	background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
	background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
	background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
	background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
	background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
	background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
	background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
	background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
	background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
	background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
	background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
	background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
	background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
	background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
	background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
	background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
	background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
	background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
	background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
	background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
	background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
	background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
	background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
	background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
	background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
	background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
	background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
	background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
	background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px;
}

.ui-icon-arrow-4 {
	background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
	background-position: -16px -80px;
}

.ui-icon-extlink {
	background-position: -32px -80px;
}

.ui-icon-newwin {
	background-position: -48px -80px;
}

.ui-icon-refresh {
	background-position: -64px -80px;
}

.ui-icon-shuffle {
	background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
	background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
	background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
	background-position: 0 -96px;
}

.ui-icon-folder-open {
	background-position: -16px -96px;
}

.ui-icon-document {
	background-position: -32px -96px;
}

.ui-icon-document-b {
	background-position: -48px -96px;
}

.ui-icon-note {
	background-position: -64px -96px;
}

.ui-icon-mail-closed {
	background-position: -80px -96px;
}

.ui-icon-mail-open {
	background-position: -96px -96px;
}

.ui-icon-suitcase {
	background-position: -112px -96px;
}

.ui-icon-comment {
	background-position: -128px -96px;
}

.ui-icon-person {
	background-position: -144px -96px;
}

.ui-icon-print {
	background-position: -160px -96px;
}

.ui-icon-trash {
	background-position: -176px -96px;
}

.ui-icon-locked {
	background-position: -192px -96px;
}

.ui-icon-unlocked {
	background-position: -208px -96px;
}

.ui-icon-bookmark {
	background-position: -224px -96px;
}

.ui-icon-tag {
	background-position: -240px -96px;
}

.ui-icon-home {
	background-position: 0 -112px;
}

.ui-icon-flag {
	background-position: -16px -112px;
}

.ui-icon-calendar {
	background-position: -32px -112px;
}

.ui-icon-cart {
	background-position: -48px -112px;
}

.ui-icon-pencil {
	background-position: -64px -112px;
}

.ui-icon-clock {
	background-position: -80px -112px;
}

.ui-icon-disk {
	background-position: -96px -112px;
}

.ui-icon-calculator {
	background-position: -112px -112px;
}

.ui-icon-zoomin {
	background-position: -128px -112px;
}

.ui-icon-zoomout {
	background-position: -144px -112px;
}

.ui-icon-search {
	background-position: -160px -112px;
}

.ui-icon-wrench {
	background-position: -176px -112px;
}

.ui-icon-gear {
	background-position: -192px -112px;
}

.ui-icon-heart {
	background-position: -208px -112px;
}

.ui-icon-star {
	background-position: -224px -112px;
}

.ui-icon-link {
	background-position: -240px -112px;
}

.ui-icon-cancel {
	background-position: 0 -128px;
}

.ui-icon-plus {
	background-position: -16px -128px;
}

.ui-icon-plusthick {
	background-position: -32px -128px;
}

.ui-icon-minus {
	background-position: -48px -128px;
}

.ui-icon-minusthick {
	background-position: -64px -128px;
}

.ui-icon-close {
	background-position: -80px -128px;
}

.ui-icon-closethick {
	background-position: -96px -128px;
}

.ui-icon-key {
	background-position: -112px -128px;
}

.ui-icon-lightbulb {
	background-position: -128px -128px;
}

.ui-icon-scissors {
	background-position: -144px -128px;
}

.ui-icon-clipboard {
	background-position: -160px -128px;
}

.ui-icon-copy {
	background-position: -176px -128px;
}

.ui-icon-contact {
	background-position: -192px -128px;
}

.ui-icon-image {
	background-position: -208px -128px;
}

.ui-icon-video {
	background-position: -224px -128px;
}

.ui-icon-script {
	background-position: -240px -128px;
}

.ui-icon-alert {
	background-position: 0 -144px;
}

.ui-icon-info {
	background-position: -16px -144px;
}

.ui-icon-notice {
	background-position: -32px -144px;
}

.ui-icon-help {
	background-position: -48px -144px;
}

.ui-icon-check {
	background-position: -64px -144px;
}

.ui-icon-bullet {
	background-position: -80px -144px;
}

.ui-icon-radio-on {
	background-position: -96px -144px;
}

.ui-icon-radio-off {
	background-position: -112px -144px;
}

.ui-icon-pin-w {
	background-position: -128px -144px;
}

.ui-icon-pin-s {
	background-position: -144px -144px;
}

.ui-icon-play {
	background-position: 0 -160px;
}

.ui-icon-pause {
	background-position: -16px -160px;
}

.ui-icon-seek-next {
	background-position: -32px -160px;
}

.ui-icon-seek-prev {
	background-position: -48px -160px;
}

.ui-icon-seek-end {
	background-position: -64px -160px;
}

.ui-icon-seek-start {
	background-position: -80px -160px;
}

.ui-icon-seek-first {
	background-position: -80px -160px;
}

.ui-icon-stop {
	background-position: -96px -160px;
}

.ui-icon-eject {
	background-position: -112px -160px;
}

.ui-icon-volume-off {
	background-position: -128px -160px;
}

.ui-icon-volume-on {
	background-position: -144px -160px;
}

.ui-icon-power {
	background-position: 0 -176px;
}

.ui-icon-signal-diag {
	background-position: -16px -176px;
}

.ui-icon-signal {
	background-position: -32px -176px;
}

.ui-icon-battery-0 {
	background-position: -48px -176px;
}

.ui-icon-battery-1 {
	background-position: -64px -176px;
}

.ui-icon-battery-2 {
	background-position: -80px -176px;
}

.ui-icon-battery-3 {
	background-position: -96px -176px;
}

.ui-icon-circle-plus {
	background-position: 0 -192px;
}

.ui-icon-circle-minus {
	background-position: -16px -192px;
}

.ui-icon-circle-close {
	background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
	background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
	background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
	background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
	background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
	background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
	background-position: -192px -192px;
}

.ui-icon-circle-check {
	background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
	background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
	background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
	background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
	background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
	background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
	background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
	background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
	background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
	background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
	background-position: -80px -224px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 3px;
}

.ui-widget-overlay {
	background: #aaa;
	opacity: .3;
	filter: Alpha(Opacity=30);
}

.ui-widget-shadow {
	margin: 0 0 0 0;
	padding: 5px;
	background: #666;
	opacity: .3;
	filter: Alpha(Opacity=30);
	border-radius: 8px;
}

.radio-list,
.radio-list2,
.check-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #212429;
	background: #fff;
	font: 16px/1.2 "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 30px;
}

h2,
.h2 {
	font-size: 27px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #39f;
}

a:hover,
a:focus {
	text-decoration: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #999;
	padding: .4em .7em;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #212429;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #999;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #999;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 768px;
	padding: 0 15px;
	margin: 0 auto;
}

h1 {
	color: #212429;
	font: 300 36px/36px "Roboto Slab", "Times", "Baskerville", "Georgia", serif;
	letter-spacing: -.33px;
	margin: 0 0 10px;
	text-align: center;
}

.ui-datepicker thead th {
	color: #f03f3e;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	background-color: #f03f3e;
	color: #fff;
	border-color: #f03f3e;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 10px;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 35%;
	margin: 0 10px 10px 0;
}

.section {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.ajax-container {
	width: 100%;
}

.new-content {
	opacity: 0;
	width: 100%;
}

.page-4 {
	height: 100vh;
}

.slide-out {
	-webkit-animation: slideOutLeft 200ms linear forwards;
	-moz-animation: slideOutLeft 200ms linear forwards;
    -o-animation: slideOutLeft 200ms linear forwards;
	-ms-animation: slideOutLeft 200ms linear forwards;
	animation: slideOutLeft 200ms linear forwards;
}

.slide-in {
	-webkit-animation: slideInLeft 200ms linear forwards;
	-moz-animation: slideInLeft 200ms linear forwards;
    -o-animation: slideInLeft 200ms linear forwards;
	-ms-animation: slideInLeft 200ms linear forwards;
	animation: slideInLeft 200ms linear forwards;
}

.pager {
	width: 100%;
	padding: 40px 0 285px;
}

.pager .new-content {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100%;
}

.pager.pager4 {
	padding: 40px 0 300px;
}

.pager.pager4 h1 {
	color: #212429;
	letter-spacing: -.22px;
	text-align: left;
	font: 300 24px/28px "Roboto Slab", "Times", "Baskerville", "Georgia", serif;
}

.pager.pager4 .attached-bottom {
	bottom: 40px;
}

.pager.pager5 {
	padding: 73px 0 49px;
}

.pager.pager5 h1 {
	color: #212429;
	font-size: 26px;
	line-height: 30px;
	letter-spacing: -.24px;
	text-align: left;
	margin: 0 0 35px;
}

.progressbar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 30px;
	z-index: 999;
}

.progressbar .line-holder {
	background: #edeef0;
}

.progressbar .line {
	display: block;
	background-image: -webkit-linear-gradient(135deg, #f03f3e 0%, #cd0498 100%);
	background-image: linear-gradient(-45deg, #f03f3e 0%, #cd0498 100%);
	height: 3px;
	position: relative;
	-webkit-transition: width .3s;
	transition: width .3s;
}

.progressbar .progress-value {
	width: 29px;
	height: 19px;
	position: absolute;
	right: 0;
	top: calc(100% +  6px);
	display: block;
	border-radius: 3px;
	background-color: #f03f3e;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
	color: #fff;
	font: 400 11px/19px "Montserrat", sans-serif;
	text-align: center;
	letter-spacing: .2px;
}

.progressbar .progress-value:before {
	content: "";
	position: absolute;
	left: 50%;
	top: -5px;
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 5px 4px;
	border-color: transparent transparent #f03f3e transparent;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

/*.progressbar .progress-value.start-process {
	left: 5%;
	right: auto;
}

.progressbar .progress-value.end-process {
	right: 5%;
}*/

.logo {
	position: fixed;
	left: 50%;
	bottom: 50px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: none;
}

.attached-bottom {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 68px;
	background: #fff;
	z-index: 9;
}

.radio-list {
	border-top: 1px solid #e7e7e7;
	overflow: hidden;
}

.radio-list li {
	border: solid #e7e7e7;
	border-width: 0 0 1px;
}

.radio-list .hover {
	display: none;
}

.radio-list .icon {
	width: 74px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.select-form [type="radio"] {
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: -1;
}

.select-form label {
	display: block;
	position: relative;
	color: #595959;
	font: 700 12px/18px "Muli", sans-serif;
	text-transform: uppercase;
	letter-spacing: .3px;
}

.select-form .icon {
	pointer-events: none;
}

.select-form .fake-input {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	z-index: -1;
	bottom: 0;
}

.select-form .fake-input:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s, width .3s;
	transition: opacity .3s, width .3s;
	background: -webkit-linear-gradient(45deg, #f03f3e 0%, #cd0498 100%);
	background: linear-gradient(45deg, #f03f3e 0%, #cd0498 100%);
}

.select-form .fake-label {
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 16px 20px 16px 0;
	min-height: 68px;
}

.select-form .fake-label:hover {
	cursor: pointer;
}

.select-form .text {
	display: block;
	width: calc(100% - 74px);
	padding: 0 0 0 6px;
}

.select-form [type="radio"]:checked + .fake-input:before {
	opacity: 1;
	visibility: visible;
}

.select-form [type="radio"]:checked ~ .fake-label {
	color: #fff;
}

.select-form [type="radio"]:checked ~ .fake-label .icon .hover {
	display: inline-block;
	vertical-align: top;
}

.select-form [type="radio"]:checked ~ .fake-label .icon .main {
	display: none;
}

.select-form input:disabled + .fake-input,
.select-form input:disabled ~ .fake-label {
	opacity: .5;
}

.radio-list2 {
	padding: 0 14px 0;
}

.radio-list2 label {
	position: relative;
	display: block;
	color: #595959;
	font: 700 12px/15px "Muli", sans-serif;
	letter-spacing: .3px;
	text-transform: uppercase;
}

.radio-list2 li:last-child .fake-input {
	border-width: 1px;
	border-radius: 0 0 3px 3px;
}

.radio-list2 li:first-child .fake-input {
	border-radius: 3px 3px 0 0;
}

.radio-list2 .fake-label {
	padding: 23px 10px 23px 64px;
	display: block;
}

.radio-list2 .fake-label:hover {
	cursor: pointer;
}

.radio-list2 [type="checkbox"],
.radio-list2 [type="radio"] {
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: -1;
}

.radio-list2 .fake-input {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 1px solid #edeeef;
	border-width: 1px 1px 0;
	background: #fafafa;
	z-index: -1;
}

.radio-list2 .fake-input:before {
	content: "";
	position: absolute;
	left: 21px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 26px;
	height: 26px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .04);
	border: 1px solid rgba(32, 36, 41, .12);
	background-color: #fff;
	border-radius: 50%;
	margin: -1px 0 0;
}

.radio-list2 .fake-input:after {
	content: "";
	position: absolute;
	left: 28px;
	top: 50%;
	width: 10px;
	height: 6px;
	display: block;
	border: 2px solid #fff;
	opacity: 0;
	border-width: 0 0 2px 2px;
	-webkit-transform: translateY(-50%) rotate(-45deg);
	-ms-transform: translateY(-50%) rotate(-45deg);
	transform: translateY(-50%) rotate(-45deg);
	margin: -2px 0 0;
}

.radio-list2 [type="radio"]:checked + .fake-input {
	border: 2px solid #f03f3e;
	margin: -2px 0 0;
	border-radius: 3px;
	background: #fff;
}

.radio-list2 [type="radio"]:checked + .fake-input:before {
	background-color: #f03f3e;
	border-color: #f03f3e;
	width: 24px;
	height: 24px;
}

.radio-list2 [type="radio"]:checked + .fake-input:after {
	opacity: 1;
}

.radio-list2 input:disabled + .fake-input,
.radio-list2 input:disabled ~ .fake-label {
	opacity: .5;
}

.error-list {
	padding: 0 0 16px;
}

.error {
	border-radius: 2px;
	background-color: #f03f3e;
	font: 600 14px/16px "Muli", sans-serif;
	letter-spacing: .6px;
	color: #fff;
	padding: 16px 11px 16px 0;
	margin: 0 0 8px;
}

.error .icon {
	width: 45px;
	text-align: center;
	float: left;
	padding: 0 0 0 5px;
}

.error .message {
	width: calc(100% - 45px);
	display: block;
	overflow: hidden;
	color: #fff;
}

.detail-form label {
	display: inline-block;
	vertical-align: top;
	font: 600 10px/20px "Montserrat", sans-serif;
	text-transform: uppercase;
	letter-spacing: .17px;
	margin: 0 0 7px;
}

.detail-form input[type="text"],
.detail-form input[type="email"],
.detail-form input[type="password"],
.detail-form input[type="tel"],
.detail-form select {
	width: 100%;
	display: block;
	color: #212429;
	font: 400 14px/20px "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .04);
	border-radius: 2px;
	border: 1px solid rgba(32, 36, 41, .12);
	padding: 10px 12px;
}

.detail-form input[type="text"].input-error,
.detail-form input[type="email"].input-error,
.detail-form input[type="password"].input-error,
.detail-form input[type="tel"].input-error,
.detail-form select.input-error {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .04);
	border: 1px solid rgba(240, 63, 62, .4);
	background-color: rgba(240, 63, 62, .08);
}

.detail-form .row {
	padding: 0 0 44px;
}

.detail-form .col {
	margin: 0 0 15px;
}

.detail-form .date-holder {
	position: relative;
}

.detail-form .date-holder .icon {
	position: absolute;
	right: 17px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 2px 0 0;
	pointer-events: none;
}

.detail-form /*.msg*/ span.input-error {
	font: 500 12px/16px "Montserrat", sans-serif;
	color: #868b96;
	display: block;
	padding: 8px 0 0;
}

.detail-form input[type="submit"] {
	padding: 12px;
	color: #fff;
	margin: 0;
	border-radius: 2px;
	background-color: #f03f3e;
	border: 0;
	outline: 0;
	display: block;
	font: 500 14px/24px "Montserrat", sans-serif;
	-webkit-transition: background .3s;
	transition: background .3s;
	text-align: center;
	width: 100%;
}

.detail-form input[type="submit"]:hover {
	background: #e91312;
}

.detail-form .fake-select {
	position: relative;
}

.detail-form select::-ms-expand {
	display: none;
}

.detail-form select {
	margin: 0;
	outline: none;
	background: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	position: relative;
	border-radius: 2px;
	padding: 9px 32px 9px 8px;
}

.detail-form .fake-select:after {
	position: absolute;
	right: 17px;
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	top: 50%;
	border: 2px solid #868b96;
	border-width: 0 0 2px 2px;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: -6px;
	line-height: 0;
	z-index: 1;
}

.check-list {
	padding: 0 0 11px;
}

.check-list label {
	color: #212429;
	text-transform: none;
	font: 400 14px/20px "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
}

.check-list li {
	margin: 0 0 18px;
}

.check-list a {
	color: #212429;
	text-decoration: none;
	border-bottom: 2px solid #f79d9d;
	-webkit-transition: border .3s;
	transition: border .3s;
}

.check-list a:hover {
	border-bottom: 2px solid #ba0f0e;
	text-decoration: none;
}

.check-list label {
	position: relative;
	padding: 0 0 0 33px;
}

.check-list [type="checkbox"] {
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: -1;
}

.check-list .fake-input {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #bbb;
	vertical-align: middle;
	position: absolute;
	left: 1px;
	top: 1px;
	margin-right: 5px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .04);
	border-radius: 2px;
	border: 1px solid rgba(32, 36, 41, .12);
	background-color: #fff;
}

.check-list [type="checkbox"] + .fake-input:before {
	content: "";
	width: 9px;
	height: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 3px solid #fff;
	border-width: 0 0 2px 2px;
	opacity: 0;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: -4px 0 0 -5px;
}

.check-list [type="checkbox"]:checked + .fake-input {
	background-color: #f03f3e;
	border-color: #f03f3e;
}

.check-list [type="checkbox"]:checked + .fake-input:before {
	opacity: 1;
}

.check-list input:disabled + .fake-input,
.check-list input:disabled ~ .fake-label {
	opacity: .5;
}

@media (min-width: 480px) {
	.pager {
		padding: 30px 0 251px;
	}

	.pager.pager4 {
		padding: 28px 0 200px;
	}

	.pager.pager4 .attached-bottom {
		bottom: 20px;
	}

	.attached-bottom {
		bottom: 20px;
	}

	.radio-list2 .fake-label {
		padding: 14px 10px 14px 64px;
	}
}

@media (min-width: 768px) {
	h1 {
		margin: 0 0 66px;
	}

	.new-content {
		height: 100vh;
	}

	.slide-out {
		height: 100vh;
	}

	.slide-in {
		height: 100vh;
	}

	.pager {
		padding: 0;
	}

	.pager.pager4 {
		padding: 0;
	}

	.pager.pager4 h1 {
		font-size: 36px;
		line-height: 42px;
		letter-spacing: -.33px;
		margin: 0;
	}

	.pager.pager4 .container {
		max-width: 489px;
	}

	.pager.pager4 .text-holder {
		height: 42%;
		padding: 30px 0 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
	}

	.pager.pager4 .text-holder .holder {
		width: 100%;
	}

	.pager.pager5 {
		padding: 65px 0;
	}

	.pager.pager5 h1 {
		font-size: 36px;
		line-height: 42px;
		margin: 0 0 50px;
	}

	.text-holder {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 58%;
	}

	.logo {
		display: block;
	}

	.attached-bottom {
		background: transparent;
		position: fixed;
		left: 0;
		right: 0;
		top: 42%;
	}

	.radio-list {
		max-width: 324px;
		border-radius: 2px;
		margin: 0 auto;
	}

	.radio-list li {
		border-width: 0 1px 1px;
	}

	.radio-list li:first-child .fake-label:before {
		border-radius: 1px 1px 0 0;
	}

	.radio-list li:last-child .fake-label:before {
		border-radius: 0 0 1px 1px;
	}

	.radio-list2 {
		padding: 0;
	}

	.radio-list2 .fake-label {
		padding: 21px 10px 21px 65px;
	}

	.radio-list2 .fake-input:before {
		left: 19px;
	}

	.radio-list2 .fake-input:after {
		left: 26px;
	}

	.section2 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		min-height: 100vh;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.error-list {
		margin: -7px 0 0;
		padding: 0 0 25px;
	}

	.detail-form .row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 -15px;
		padding: 0 0 24px;
	}

	.detail-form .col {
		width: 50%;
		padding: 0 15px;
		margin: 0 0 31px;
	}

	.detail-form /*.msg*/ span.input-error {
		padding: 7px 0 0;
	}

	.detail-form .btn-holder {
		text-align: right;
	}

	.detail-form input[type="submit"] {
		display: inline-block;
		vertical-align: top;
		min-width: 130px;
		width: auto;
		max-width: 400px;
	}

	.check-list {
		padding: 0 0 27px;
	}

	.check-list label {
		font-size: 13px;
	}

	.check-list li {
		margin: 0 0 16px;
	}
}

@media (min-width: 1024px) {
	.pager.pager4 h1 {
		margin: 0;
	}

	.pager.pager5 h1 {
		margin: 0 0 65px;
	}

	.error-list {
		margin: -18px 0 0;
	}

	.detail-form .row {
		padding: 0 0 9px;
	}

	.detail-form .col {
		margin: 0 0 31px;
	}

	.check-list {
		padding: 0 0 28px;
	}
}

@media (min-width: 1025px) {
	.select-form label:hover .fake-input:before {
		opacity: 1;
		visibility: visible;
	}

	.select-form label:hover .fake-label {
		color: #fff;
	}

	.select-form label:hover .hover {
		display: block;
	}

	.select-form label:hover .main {
		display: none;
	}
}

@media (max-width: 767px) {
	.attached-bottom .container {
		padding: 0;
	}
}

@-webkit-keyframes slideOutLeft {
	from {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}

	to {
		visibility: visible;
		-webkit-transform: translateX(-5%);
		transform: translateX(-5%);
		opacity: 0;
	}
}

@keyframes slideOutLeft {
	from {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}

	to {
		visibility: visible;
		-webkit-transform: translateX(-5%);
		transform: translateX(-5%);
		opacity: 0;
	}
}

@-webkit-keyframes slideInLeft {
	from {
		-webkit-transform: translateX(2%);
		transform: translateX(2%);
		opacity: 0;
	}

	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInLeft {
	from {
		-webkit-transform: translateX(2%);
		transform: translateX(2%);
		opacity: 0;
	}

	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

