@media (min-width: 480px) {
  .select-form .fake-label {
    min-height: 50px;
    padding: 5px 20px 5px 0; } }

@media (min-width: 480px) {
  .radio-list2 .fake-label {
    padding: 10px 10px 10px 65px; } }

@media (min-width: 480px) {
  .pager {
    padding: 30px 0 180px; } }

@media (min-width: 480px) {
  .pager.pager4 {
    padding: 30px 0 180px; } }

.pager.pager4 h1 {
  font-size: 20px;
  line-height: 24px; }
